{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>MRR Cranes and Transport</title>
  <link rel="stylesheet" href="{% static 'blog/style.css' %}" />
</head>
<body>
    
  <header>
    <div class="top-bar">
      <span>Email us at : mrrcranesandtransport@gmail.com</span>
      <span class="right">Call us: 9841099558</span>
    </div>
    <nav class="navbar">
      <div class="logo">Transport Co.</div>
      <ul>
        <li><a href="{% url 'blog:index' %}">Home</a></li>
        <li><a href="{% url 'blog:about' %}">About Us</a></li>
        <li><a href="{% url 'blog:blog' %}">Blog</a></li>
        <li><a href="{% url 'blog:location' %}">Location</a></li>
        <li><a href="{% url 'blog:contact' %}">Contact</a></li>
        {% if user.is_authenticated and user.is_staff %}
        <li><a href="{% url 'blog:dashboard' %}">Dashboard</a></li>
        {% else %}
        <li><a href="{% url 'blog:owner_login' %}">Admin Login</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>



  <!--DYNAMIC CONTENT-->

  {% block content %}

  {% endblock %}

  <footer>
    <div class="footer-inner">
      <div>
        <strong>MRR Cranes and Transport</strong>
        <div>Heavy lifting & transport solutions in Chennai</div>
      </div>
      <div>
        <div>Email: mrrcranesandtransport@gmail.com</div>
        <div>Phone: 9841099558</div>
      </div>
    </div>
  </footer>

  </body>
</html>